.crisp-client .cc-tlyw .cc-kxkl .cc-1hqb .cc-gye0 .cc-11uv .cc-15ak .cc-acjo {

    display: none !important;

}

.crisp-client .cc-tlyw[data-full-view="false"][data-position-reverse="false"] .cc-kxkl .cc-nsge {

    margin-right: -22px !important;
    display: none !important;

}

.crisp-client .cc-tlyw[data-full-view="true"] .cc-kxkl .cc-nsge {

    display: none !important;

}
